[submodule "gulp"]
	path = gulp
	url = https://github.com/progre/gulpfiles.git
[submodule "typings/DefinitelyTyped"]
	path = typings/DefinitelyTyped
	url = https://github.com/progre/DefinitelyTyped.git
